@model IList<GameModel>
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Games Store";
    ViewBag.Description = "Интернет магазин компьютерных игр. В магазине представлены современные компьютерные игры различных жанров. " +
                           "Вы сможете преобрести любую понравившуюся игру по доступной цене.";
}
@await Html.PartialAsync("SearchFormPartial")
<div class="finish_font text-danger ml-4 mt-3 mb-2">@TempData["TempDataMessage"]</div>
<div class="cards">
    @for (int i = 0; i < Model.Count; i += 2)
    {
        <div class="lSale_block">
            @if (i == 0)
            {
                <div id="hot"></div>
            }
            <h2>
                <a asp-controller="game" asp-action="index" asp-route-id="@Model[i].GameId">@Model[i].Name</a>
            </h2>
            <div class="flexblock">
                <div class="flexblock__leftitem">
                    <a asp-controller="game" asp-action="index" asp-route-id="@Model[i].GameId">
                        <img  alt="Picture" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model[i].ImageData))" />
                    </a>
                </div>
                <div class="flexblock__rightitem">
                    <p class="price">Цена: <span>@Math.Truncate(Model[i].Price) руб.</span></p>
                    <form asp-controller="order" asp-action="additem" asp-route-returnUrl="@Context.Request.GetCurrentUrl()" method="post">
                        <input type="hidden" name="gameId" value="@Model[i].GameId" />
                        <button class="incor clickbutton" type="submit"><img src="/images/korz.png" alt="In Cart"></button>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <p class="descr">@Model[i].ShortDescription</p>
        </div>

         if ((i + 1) < Model.Count)
         {
            <div class="rSale_block">
                <h2>
                    <a asp-controller="game" asp-action="index" asp-route-id="@Model[i + 1].GameId">@Model[i + 1].Name</a>
                </h2>
                <div class="flexblock">
                    <div class="flexblock__leftitem">
                        <a asp-controller="game" asp-action="index" asp-route-id="@Model[i + 1].GameId">
                            <img alt="Picture" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model[i + 1].ImageData))" />
                        </a>
                    </div>
                    <div class="flexblock__rightitem">
                        <p class="price">Цена: <span>@Math.Truncate(Model[i + 1].Price) руб.</span></p>
                        <form asp-controller="order" asp-action="additem" asp-route-returnUrl="@Context.Request.GetCurrentUrl()" method="post">
                            <input type="hidden" name="gameId" value="@Model[i + 1].GameId" />
                            <button class="incor clickbutton" type="submit"><img src="/images/korz.png" alt="In Cart"></button>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
                <p class="descr">@Model[i + 1].ShortDescription</p>
            </div>
         }
     }
</div>
@section Scripts{
    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
}

