@model CategoryGamesViewModel
@{
    ViewData["Title"] = "Поиск по категории";
}
@await Html.PartialAsync("Partials/SearchFormPartial")
@if (Model.Games.Count != 0)
{
    <h3 class="search_h3 mt-4">Игры категории "@Model.Games.First().Category"</h3>
    <table class="table table-search tablewidth">
        <thead>
            <tr>
                <th>Название игры </th>
                <th>Разработчик</th>
                <th></th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Games)
            {
                <tr>
                    <td>
                        <a asp-controller="game" asp-action="index" asp-route-id="@item.GameId">@Html.DisplayFor(modelItem => item.Name)</a>
                        <form asp-controller="order" asp-action="additem" asp-route-returnUrl="@Context.Request.GetCurrentUrl()" method="post">
                            <input type="hidden" name="gameId" value="@item.GameId" />
                            <button class="incor clickbutton" type="submit"><img src="/images/korz.png" alt="In Cart"></button>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @if (item.ImageData != null)
                        {
                            <div>
                                <a asp-controller="game" asp-action="index" asp-route-id="@item.GameId">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData))" />
                                </a>
                            </div>
                        }
                    </td>
                    <td class="price">
                        @Math.Truncate(item.Price) руб.
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.PageViewModel.TotalPages > 1 && Model.PageViewModel.PageNumber > 0
          && Model.PageViewModel.PageNumber < Model.PageViewModel.TotalPages + 1)
    {
        <div class="finish_font mt-4 mb-2 ml-4">Страница @Model.PageViewModel.PageNumber-я из @Model.PageViewModel.TotalPages</div>
        <pagination class="ml-4" page-controller="game" page-action="categorygames" page-model="Model.PageViewModel"
                    page-url-category="@(Model.Category.ToString().ToLower())">
        </pagination>
    }
}
else
{
    <h3 class="search_h3">В продаже на данный момент нет игр этого жанра</h3>
}