@model IEnumerable<Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table" style="width:800px;">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    
                    @if (item.ImageData != null)
                    {
                        <img style="width:125px; height:150px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData))" />
                    }
                </td>
                <td>
                    @Math.Truncate(item.Price) &#8381;
                </td>
            </tr>
        }
    </tbody>
</table>